
<div class="container login_content">
  
  <div class="col-sm-4"></div>
  <div class="col-sm-4" style="text-align: center">
      <h3>Login Form</h3>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <input type="password" class="form-control" #privatekey placeholder="Enter your private key"  >
        </div>
          
          <div class="col-sm-2"></div>
      </div><br><br><br>
      
      <br>
      <div>

          <input  type="submit" class="btn btn-default " (click)="login(privatekey.value)" value="Log in">
      
        </div>

        <div class="clearfix"></div>

        <div class="separator" style="text-align:center">

          <div class="clearfix"></div>
  </div>
  <div>
      <h2>Chainflux</h2>
      <p>©2018 All Rights Reserved. Chainflux. Privacy and Terms</p>
    </div>
  </div>
  <div class="col-sm-4"></div>

</div><!-- 
  <body class="login">
    <div class="row" style="margin-top: 170px;">

          <div class="col-sm-3">

          </div>

        <div class="col-sm-6">
            <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content" >

            <h3>Login Form</h3>
            <form >
                <div ></div>
                <br /><br/>
          
               <div >
                <input type="password" class="form-control" #privatekey placeholder="Enter your private key" name="public_kkey" >
              </div>
      
              
              <div ></div>
              <br /><br/>

              <div style="text-align:center">

                <button  type="submit" class="btn btn-default submit" (click)="login(privatekey.value)">Log in</button>
            
              </div>

              <div class="clearfix"></div>

              <div class="separator" style="text-align:center">

                <div class="clearfix"></div>
                <br />

                <div>
                  <h2>Chainflux</h2>
                  <p>©2018 All Rights Reserved. Chainflux. Privacy and Terms</p>
                </div>
              </div>
              
            </form>
          </section>
        </div>
    </div>

    <div class="col-sm-3">
              
        </div>


      </div>
    </div>
  </body> -->