<!-- <app-sidenav></app-sidenav> -->
<!-- <div class="col-sm-4">

</div>
<div class="col-sm-4">
    <div>
        <b> Select Tags: &nbsp;&nbsp;</b>
        <select #options (change)="sortlist(options.value);" >
        <option>Select</option>
           <option value="0" >All</option>
           <option *ngFor="let i of indexid" value={{i.indexid}}>{{i.indexid}}</option>
        </select>
        </div>
</div>
<div class="col-sm-4">
  
  </div>
  <br>
  <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <table class="table table-striped"  style="overflow-y:auto;display:block;height:500px;">
            <thead class="tablecolor">
              <tr>
               <th>Tags</th>
                  <th>Place</th>
                  <th>TimeStamp</th>
              </tr>
            </thead>
            <tbody id="body_bank">
                <tr *ngFor="let s of detailslist" >
                     <td>{{s.tags}}</td>
                 <td>{{s.place}}</td>
                    <td>{{s.time}}</td>
                </tr>
              </tbody>
           </table>
    <div class="col-sm-4">
      
      </div> -->